<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<div class="header" style="background: #ffffff; padding: 10px; border: 1px solid #c0bbbb">
  <div class="element">
    <ngx-skeleton-loader count="1" animation="pulse" [theme]="{
        height: '80%',
        width: '60%',
        'background-color': '#049B7A',
        border: '1px solid #049B7A '
      }">
    </ngx-skeleton-loader>
  </div>
  <div>
    <img loading="lazy" src="https://storage.googleapis.com/front-agrodatai-dev/agrodatai/img/agrodatlogo.png"
      width="100%" alt="" />
  </div>

  <div class="element">
    <ngx-skeleton-loader count="1" animation="progress" [theme]="{
        height: '50%',
        width: '100%',
        'background-color': '#E6DFE9',
        border: '1px solid #E6DFE9 '
      }">
    </ngx-skeleton-loader>
    <ngx-skeleton-loader class="circle" count="1" appearance="circle" animation="progress" [theme]="{
        height: '100%',
        width: '60%',
        'background-color': '#E6DFE9',
        border: '1px solid #572F75 '
      }">
    </ngx-skeleton-loader>
  </div>
</div>

<div class="bottom">
  <div class="item">
    <ngx-skeleton-loader count="1" appearance="line" animation="progress" [theme]="{
        'border-radius': '50px',
        height: '15%',
        width: '400%',
        'background-color': '#E6DFE9',
        border: '1px solid #ffffff ',
        padding: '20px'
      }"></ngx-skeleton-loader>

    <ngx-skeleton-loader class="circle1" count="1" appearance="circle" animation="pulse" [theme]="{
        'background-color': '#009A74',
        border: '1px solid #E6DFE9 '
      }">
    </ngx-skeleton-loader>
  </div>

  <div class="item-product">
    <ngx-skeleton-loader class="product" count="1" appearance="line" animation="progress" [theme]="{
        'border-radius': '15px',
        height: '80%',
        width: '80%',
        'background-color': '#646263',
        border: '1px solid #ffffff ',
        padding: '20px'
      }"></ngx-skeleton-loader>
    <ngx-skeleton-loader class="back" count="1" appearance="line" animation="pulse" [theme]="{
        height: '1%',
        width: '5%',
        'background-color': '#009A74',
        border: '1px solid #ffffff ',
        padding: '20px'
      }"></ngx-skeleton-loader>
    <ngx-skeleton-loader class="left1" count="1" appearance="line" animation="pulse" [theme]="{
        height: '1%',
        width: '5%',
        'background-color': '#009A74',
        border: '1px solid #ffffff ',
        padding: '20px'
      }"></ngx-skeleton-loader>
    <ngx-skeleton-loader class="left2" count="1" appearance="line" animation="pulse" [theme]="{
        height: '1%',
        width: '5%',
        'background-color': '#009A74',
        border: '1px solid #ffffff ',
        padding: '20px'
      }"></ngx-skeleton-loader>
  </div>
</div>