<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1"
/>
<div class="items" style="background: #f2f2f2; padding: auto">
  <div class="right">
    <div class="social">
      <ngx-skeleton-loader
        class="circle"
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{
          height: '100%',
          width: '50%',
          'background-color': '#572F75',
          border: '1px solid #ffffff '
        }"
      >
      </ngx-skeleton-loader>

      <ngx-skeleton-loader
        class="circle"
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{
          height: '100%',
          width: '50%',
          'background-color': '#572F75',
          border: '1px solid #ffffff '
        }"
      >
      </ngx-skeleton-loader>

      <ngx-skeleton-loader
        class="circle"
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{
          height: '100%',
          width: '50%',
          'background-color': '#572F75',
          border: '1px solid #ffffff '
        }"
      >
      </ngx-skeleton-loader>

      <ngx-skeleton-loader
        class="circle"
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{
          height: '100%',
          width: '40%',
          'background-color': '#572F75',
          border: '1px solid #ffffff '
        }"
      >
      </ngx-skeleton-loader>
    </div>

    <div class="item">
      <ngx-skeleton-loader
        count="1"
        [theme]="{
          'border-radius': '5px',
          height: '100%',
          width: '60%',
          'background-color': '#1AA482',
          border: '1px solid #ffffff '
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="item">
      <ngx-skeleton-loader
        count="1"
        [theme]="{
          'border-radius': '5px',
          height: '100%',
          width: '70%',
          'background-color': '#1AA482',
          border: '1px solid #ffffff '
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="item">
      <ngx-skeleton-loader
        count="1"
        [theme]="{
          'border-radius': '5px',
          height: '100%',
          width: '80%',
          'background-color': '#1AA482',
          border: '1px solid #ffffff '
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="item">
      <ngx-skeleton-loader
        count="1"
        [theme]="{
          'border-radius': '5px',
          height: '100%',
          width: '100%',
          'background-color': '#1AA482',
          border: '1px solid #ffffff '
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="item">
      <ngx-skeleton-loader
        count="1"
        [theme]="{
          'border-radius': '5px',
          height: '100%',
          width: '50%',
          'background-color': '#1AA482',
          border: '1px solid #ffffff '
        }"
      >
      </ngx-skeleton-loader>
    </div>
  </div>

  <div class="left">
    <div class="logo">
      <h1 style="color: #1aa482">
        Agrodat <span style="color: #83358a"> ai</span>
      </h1>
    </div>
  </div>
</div>
