<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1"
/>
<div class="items" style="background: #f2f2f2; padding: 16px">
  <div class="item">
    <ngx-skeleton-loader
      class="button"
      count="1"
      animation="pulse"
      [theme]="{
        'border-radius': '5px',
        height: '50%',
        'background-color': '#1AA482',
        border: '1px solid #ffffff '
      }"
    >
    </ngx-skeleton-loader>
  </div>
  <div class="item" style="padding-bottom: 16px">
    <ngx-skeleton-loader
      class="button"
      count="1"
      animation="pulse"
      [theme]="{
        'border-radius': '5px',
        height: '90%',
        'background-color': '#83358A  ',
        border: '1px solid #83358A  '
      }"
    >
    </ngx-skeleton-loader>
  </div>
  <div class="item">
    <ngx-skeleton-loader
      class="button"
      count="1"
      animation="pulse"
      [theme]="{
        'border-radius': '5px',
        height: '50%',
        'background-color': '#1AA482',
        border: '1px solid #ffffff '
      }"
    >
    </ngx-skeleton-loader>
  </div>
  <div class="item">
    <ngx-skeleton-loader
      class="button"
      count="1"
      animation="pulse"
      [theme]="{
        'border-radius': '5px',
        height: '50%',
        'background-color': '#1AA482',
        border: '1px solid #ffffff '
      }"
    >
    </ngx-skeleton-loader>
  </div>
  <div class="item">
    <ngx-skeleton-loader
      class="button"
      count="1"
      animation="pulse"
      [theme]="{
        'border-radius': '5px',
        height: '50%',
        'background-color': '#1AA482',
        border: '1px solid #ffffff '
      }"
    >
    </ngx-skeleton-loader>
  </div>
  <div class="item">
    <ngx-skeleton-loader
      class="button"
      count="1"
      animation="pulse"
      [theme]="{
        'border-radius': '5px',
        height: '50%',
        'background-color': '#1AA482',
        border: '1px solid #ffffff '
      }"
    >
    </ngx-skeleton-loader>
  </div>
  <div class="item">
    <ngx-skeleton-loader
      class="button"
      count="1"
      animation="pulse"
      [theme]="{
        'border-radius': '5px',
        height: '50%',
        'background-color': '#1AA482',
        border: '1px solid #ffffff '
      }"
    >
    </ngx-skeleton-loader>
  </div>
  <div class="logo" style="width: 100%; height: 60%">
    <div class="agrodat">
      <h1 style="color: #1aa482">
        Agrodat <span style="color: #83358a"> ai</span>
      </h1>
    </div>

    <img
      class="icon"
      loading="lazy"
      src="https://storage.googleapis.com/front-agrodatai-dev/agrodatai/img/menu.png"
      width="50%"
      height="50%"
      alt=""
    />
  </div>
</div>
