.items {
    display: flex;
    flex-direction: row-reverse;
}

.item {
    padding: 20px;
}

.logo {
    display: flex;
    padding-right: 190px;
    align-items: center;
    flex-direction: row;
}


@media only screen and (min-width: 400px) {

    /* width: 900px; 
       background-size: 900px; */
    .items {
        width: 400px;
        background-size: 400px;
        display: flex;
        flex-direction: column-reverse;
    }

    .item {
        padding: 0px;
        width: 300px;
        height: 100px;
        background-size: 400px;
        display: flex;
        justify-content: center;
        opacity: 0.9;

    }

    .button {
        width: 380px;
        height: 100px;
        background-size: 300px;
        padding: 0px;
        margin: 0px;
    }

    .logo {
        width: 135px;
        height: 90px;
        padding: 10px;
    }

    .agrodat {
        width: 235px;
        height: 90px;
        font-size: 20px;
    }

    .icon {
        position: relative;
        left: 100px;
        width: 50px;
        height: 50px;
        bottom: 10px;

    }

}

@media only screen and (min-width: 550px) {
    .items {
        width: 500px;
        background-size: 500px;
        display: flex;
        flex-direction: column-reverse;

    }

    .item {
        padding: 0px;
        width: 500px;
        background-size: 500px;
        display: flex;
        justify-content: center;
        opacity: 0.9;
    }

    .button {
        width: 480px;
        height: 100px;
        background-size: 400px;
        padding: 0px;
        margin: 0px;
    }

    .logo {
        width: 135px;
        height: 190px;
        padding: 10px;
    }

    .agrodat {
        width: 255px;
        height: 90px;
        font-size: 25px;
    }

    .icon {
        position: relative;
        left: 130px;
        width: 50px;
        height: 50px;
        bottom: 10px;

    }
}


@media only screen and (min-width: 750px) {
    .items {
        width: 750px;
        background-size: 750px;
        display: flex;
        flex-direction: column-reverse;

    }

    .item {
        padding: 0px;
        width: 750px;
        background-size: 750px;
        display: flex;
        justify-content: center;
        opacity: 0.9;
    }

    .button {
        width: 700px;
        height: 100px;
        background-size: 750px;
        padding: 0px;
        margin: 0px;
    }

    .logo {
        width: 335px;
        height: 190px;
        padding: 10px;
    }

    .agrodat {
        padding: 15px;
        width: 335px;
        height: 150px;
        font-size: 35px;
    }

    .icon {
        position: relative;
        left: 250px;
        width: 60px;
        height: 60px;
        bottom: 10px;

    }
}

@media only screen and (min-width: 900px) {
    .items {
        width: 900px;
        background-size: 900px;
        display: flex;
        flex-direction: column-reverse;

    }

    .item {
        padding: 0px;
        width: 900px;
        background-size: 900px;
        display: flex;
        justify-content: center;
        opacity: 0.9;
    }

    .button {
        width: 900px;
        height: 100px;
        background-size: 900px;
        padding: 0px;
        margin: 0px;
    }

    .logo {
        width: 335px;
        height: 190px;
        padding: 10px;
    }

    .agrodat {
        padding: 15px;
        width: 335px;
        height: 150px;
        font-size: 35px;
    }

    .icon {
        position: relative;
        left: 350px;
        width: 60px;
        height: 60px;
        bottom: 10px;

    }
}

@media only screen and (min-width: 1000px) {
    .items {
        width: 1000px;
        background-size: 1000px;
        display: flex;
        flex-direction: column-reverse;

    }

    .item {
        padding: 0px;
        width: 1000px;
        background-size: 1000px;
        display: flex;
        justify-content: center;
        opacity: 0.9;
    }

    .button {
        width: 1000px;
        height: 100px;
        background-size: 1000px;
        padding: 0px;
        margin: 0px;
    }

    .logo {
        width: 335px;
        height: 190px;
        padding: 10px;
    }

    .agrodat {
        padding: 15px;
        width: 435px;
        height: 200px;
        font-size: 40px;
    }

    .icon {
        position: relative;
        left: 450px;
        width: 60px;
        height: 60px;
        bottom: 10px;

    }
}


@media only screen and (min-width: 1200px) {
    .items {
        width: 1200px;
        background-size: 1200px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;

    }

    .item {
        padding: 0px;
        width: 1200px;
        background-size: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.9;
    }

    .button {
        width: 80px;
        height: 50px;

        padding: 0px;
        margin: 0px;
    }

    .icon {
        width: 260;
        height: 150px;
        bottom: 10px;
        width: 0px;
        height: 0px;


    }
    .agrodat{
        font-size: 45px;
    }
}
@media only screen and (min-width: 1300px) {
    .items {
        width: auto;
        background-size:auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;

    }

    .item {
        padding: 0px;
        width:auto;
        background-size: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.9;
        padding: 10px;
    }

    .button {
        width: 80px;
        height: 50px;

        padding: 0px;
        margin: 0px;
    }

    .icon {
        width: 260;
        height: 150px;
        bottom: 10px;
        width: 0px;
        height: 0px;


    }
    .agrodat{
        font-size: 45px;
    }
}