<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<div class="header" style="background: #ffffff; padding: 10px; border: 1px solid #c0bbbb">
  <div class="element">
    <ngx-skeleton-loader count="1" animation="pulse" [theme]="{
        height: '20%',
        width: '20%',
        'background-color': '#049B7A',
        border: '1px solid #049B7A '
      }">
    </ngx-skeleton-loader>
  </div>
  <div>
    <img loading="lazy" src="https://storage.googleapis.com/front-agrodatai-dev/agrodatai/img/agrodatlogo.png"
      width="100%" alt="" />
  </div>

  <div class="element">
    <ngx-skeleton-loader count="1" animation="progress" [theme]="{
        height: '30%',
        width: '50%',
        'background-color': '#E6DFE9',
        border: '1px solid #E6DFE9 '
      }">
    </ngx-skeleton-loader>
    <ngx-skeleton-loader class="circle" count="1" appearance="circle" animation="progress" [theme]="{
        height: '50%',
        width: '30%',
        'background-color': '#E6DFE9',
        border: '1px solid #572F75 '
      }">
    </ngx-skeleton-loader>
  </div>
</div>

<div class="bottom">
  <div class="item">
    <ngx-skeleton-loader count="1" appearance="line" animation="progress" [theme]="{
        'border-radius': '50px',
        height: '5%',
        width: '380%',
        'background-color': '#E6DFE9',
        border: '1px solid #ffffff ',
        padding: '20px'
      }"></ngx-skeleton-loader>
    <ngx-skeleton-loader class="button" count="1" appearance="circle" animation="pulse" [theme]="{
        height: '20%',
        width: '20%',
        'background-color': '#009A74',
        border: '1px solid #E6DFE9 '
      }">
    </ngx-skeleton-loader>
  </div>
  <div class="details">
    <ngx-skeleton-loader count="1" appearance="line" animation="progress" [theme]="{
        'border-radius': '10px',
        height: '50%',
        width: '50%',
        'background-color': '#E6DFE9',
        border: '1px solid #ffffff ',
        padding: '20px'
      }"></ngx-skeleton-loader>

    <ngx-skeleton-loader count="1" appearance="line" animation="progress" [theme]="{
        height: '10%',
        width: '20%',
        'background-color': '#E6DFE9',
        border: '1px solid #ffffff ',
        padding: '25px'
      }"></ngx-skeleton-loader>
  </div>

  <div class="products">
    <div class="item-product">
      <ngx-skeleton-loader class="product" count="1" appearance="line" animation="pulse" [theme]="{
          'border-radius': '15px',
          height: '100%',
          width: '100%',
          'background-color': '#E6DFE9',
          border: '1px solid #BFBDC0 ',
          padding: '20px'
        }"></ngx-skeleton-loader>
    </div>
    <div class="item-product">
      <ngx-skeleton-loader class="product" count="1" appearance="line" animation="pulse" [theme]="{
          'border-radius': '15px',
          height: '100%',
          width: '100%',
          'background-color': '#E6DFE9',
          border: '1px solid #BFBDC0 ',
          padding: '20px'
        }"></ngx-skeleton-loader>
    </div>
    <div class="item-product">
      <ngx-skeleton-loader class="product" count="1" appearance="line" animation="pulse" [theme]="{
          'border-radius': '15px',
          height: '100%',
          width: '100%',
          'background-color': '#E6DFE9',
          border: '1px solid #BFBDC0 ',
          padding: '20px'
        }"></ngx-skeleton-loader>
    </div>
    <div class="item-product">
      <ngx-skeleton-loader class="product" count="1" appearance="line" animation="pulse" [theme]="{
          'border-radius': '15px',
          height: '100%',
          width: '100%',
          'background-color': '#E6DFE9',
          border: '1px solid #BFBDC0 ',
          padding: '20px'
        }"></ngx-skeleton-loader>
    </div>
  </div>
</div>