.logo {
    padding: 25px;
    align-items: center;

}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

}

.item-product {
    display: flex;
    padding-left: 25px;
    flex-direction: row;
}

h1 {
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #7A7A7A;
}


.products {
    display: flex;
    padding-left: 40px;
    flex-direction: row;

}

.content {
    padding: 0px;
    height: 400px;
}

.all {
    overflow-y: scroll;
}

.bottom {

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;

}


.details {
    padding-left: 30px;
    padding-bottom: 20px;
}



@media (max-width: 400px) {
    .header {
        width: 400px;
        display: grid;
        grid-template-columns: 100px 100px 100px 100px;

    }

    .element {
        display: flex;
        flex-direction: column;
    }

    .circle {
        position: relative;
        top: -25px;
        left: 30px;
    }

    .bottom {
        width: 400px;
    }

    .details {
        width: 400px;
    }

    .button {
        position: relative;
        left: 80px;
        top: 0px;
        width: 100px;
        height: 100px;
        top: 30px;
    }

}

@media only screen and (min-width: 550px) {
    .header {
        width: 500px;
        display: grid;
        grid-template-columns: 100px 100px 100px 100px 100px;

    }

    .element {
        display: flex;
        flex-direction: column;
    }

    .circle {
        position: relative;
        top: -25px;
        left: 30px;
    }

    .bottom {
        width: 500px;
    }

    .details {
        width: 500px;
    }

    .button {
        position: relative;
        left: 80px;
        top: 0px;
        width: 100px;
        height: 100px;
        top: 30px;
    }
}

@media (max-width: 750px) {
    .header {
        width: 700px;
        display: grid;
        grid-template-columns: 100px 100px 100px 100px 100px;

    }

    .element {
        display: flex;
        flex-direction: column;
    }

    .circle {
        position: relative;
        top: -25px;
        left: 30px;
    }

    .bottom {
        width: 700px;
    }

    .details {
        width: 700px;
    }

    .button {
        position: relative;
        left: 80px;
        top: 0px;
        width: 100px;
        height: 100px;
        top: 30px;
    }
}

@media (min-width: 900px) {
    .header {
        width: 900px;
        display: grid;
        grid-template-columns: 100px 100px 100px 100px 100px;

    }

    .element {
        display: flex;
        flex-direction: column;
    }

    .circle {
        position: relative;
        top: -25px;
        left: 30px;
    }

    .bottom {
        width: 900px;
    }

    .details {
        width: 900px;
    }

    .button {
        position: relative;
        left: 80px;
        top: 0px;
        width: 100px;
        height: 100px;
        top: 30px;
    }

}

@media only screen and (max-width: 1000px) {
    .header {
        width: 1000px;
        display: grid;
        grid-template-columns: 100px 100px 100px 100px 100px;

    }

    .element {
        display: flex;
        flex-direction: column;
    }

    .circle {
        position: relative;
        top: -25px;
        left: 30px;
    }

    .bottom {
        width: 1000px;
    }

    .details {
        width: 1000px;
    }

    .button {
        position: relative;
        left: 80px;
        top: 0px;
        width: 100px;
        height: 100px;
        top: 30px;
    }

}

@media only screen and (max-width: 1200px) {
    .header {
        width: 1200px;
        display: grid;
        grid-template-columns: 100px 100px 100px 100px 100px;

    }

    .element {
        display: flex;
        flex-direction: column;
    }

    .circle {
        position: relative;
        top: -25px;
        left: 30px;
    }

    .bottom {
        width: 1200px;
    }

    .details {
        width: 1200px;
    }

    .button {
        position: relative;
        left: 80px;
        top: 0px;
        width: 100px;
        height: 100px;
        top: 30px;
    }

}