<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<div class="background">
  <ngx-skeleton-loader count="1" animation="progress" [theme]="{
      height: '100%',
      width: '100%',
      'background-color': '#096b54',
      padding: '0px',
      margin: '0px'
    }">
  </ngx-skeleton-loader>
</div>

<div class="items" style="width: auto">
  <div class="item1" style="width: auto; height: auto">
    <div class="rectangle">
      <h1>Iniciar Sesión</h1>

      <p>Número de celular o correo electrónico</p>
      <div class="item1">
        <ngx-skeleton-loader count="1" [theme]="{
            'border-radius': '15px',
            height: '30%',
            width: '50%',
            'background-color': '#a0a5a4',
            border: '1px solid #572F75 '
          }">
        </ngx-skeleton-loader>
      </div>

      <p>Contraseña</p>

      <div class="item2">
        <ngx-skeleton-loader count="1" [theme]="{
            'border-radius': '15px',
            height: '30%',
            width: '50%',
            'background-color': '#a0a5a4',
            border: '1px solid #572F75 '
          }">
        </ngx-skeleton-loader>
      </div>
      <div class="item3">
        <ngx-skeleton-loader count="1" animation="pulse" [theme]="{
            'border-radius': '15px',
            height: '30%',
            width: '50%',
            'background-color': '#189071',
            border: '1px solid #189071 '
          }">
        </ngx-skeleton-loader>
      </div>
      <div class="item4">
        <ngx-skeleton-loader count="1" animation="pulse" [theme]="{
            'border-radius': '15px',
            height: '30%',
            width: '50%',
            'background-color': '#572F75',
            border: '1px solid #572F75 '
          }">
        </ngx-skeleton-loader>
      </div>
      <span>¿Olvidaste tú contraseña?</span>
    </div>
  </div>
</div>