<div>
  <h1 style="text-align: center">Para el uso de banners:</h1>
  <app-banner></app-banner>
  <hr />
</div>

<div>
  <h1 style="text-align: center">Para el uso de portadas:</h1>
  <app-front-page></app-front-page>
  <hr />
</div>

<div>
  <h1 style="text-align: center">Para el menu de navegación:</h1>
  <app-navbar></app-navbar>
  <hr />
</div>

<div>
  <h1 style="text-align: center">Para el login:</h1>
  <app-login></app-login>
  <hr />
</div>

<div>
  <h1 style="text-align: center">Para las noticias:</h1>
  <app-news></app-news>
  <hr />
</div>

<div>
  <h1 style="text-align: center">Para el footer:</h1>
  <app-footer></app-footer>
  <hr />
</div>
