<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1"
/>
<div class="all">
  <div class="news">
    <div class="item">
      <ngx-skeleton-loader
        class="product"
        count="1"
        appearance="line"
        animation="progress"
        [theme]="{
          'border-top-right-radius': '15px',
          'border-bottom-right-radius': '15px',

          height: '100%',
          width: '100%',
          'background-color': '#E6DFE9',
          border: '2px solid #01CC67 '
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="photo">
      <ngx-skeleton-loader
        class="product"
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{
          'border-top-left-radius': '15px',
          'border-bottom-left-radius': '15px',
          height: '100%',
          width: '100%',
          'background-color': '#9c4dad',
          border: '2px solid #01CC67  '
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>

  <div class="news">
    <div class="item">
      <ngx-skeleton-loader
        class="product"
        count="1"
        appearance="line"
        animation="progress"
        [theme]="{
          'border-top-right-radius': '15px',
          'border-bottom-right-radius': '15px',

          height: '100%',
          width: '100%',
          'background-color': '#E6DFE9',
          border: '2px solid #01CC67 '
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="photo">
      <ngx-skeleton-loader
        class="product"
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{
          'border-top-left-radius': '15px',
          'border-bottom-left-radius': '15px',
          height: '100%',
          width: '100%',
          'background-color': '#9c4dad',
          border: '2px solid #01CC67  '
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
  <div class="news">
    <div class="item">
      <ngx-skeleton-loader
        class="product"
        count="1"
        appearance="line"
        animation="progress"
        [theme]="{
          'border-top-right-radius': '15px',
          'border-bottom-right-radius': '15px',

          height: '100%',
          width: '100%',
          'background-color': '#E6DFE9',
          border: '2px solid #01CC67 '
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="photo">
      <ngx-skeleton-loader
        class="product"
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{
          'border-top-left-radius': '15px',
          'border-bottom-left-radius': '15px',
          height: '100%',
          width: '100%',
          'background-color': '#9c4dad',
          border: '2px solid #01CC67  '
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
  <div class="news">
    <div class="item">
      <ngx-skeleton-loader
        class="product"
        count="1"
        appearance="line"
        animation="progress"
        [theme]="{
          'border-top-right-radius': '15px',
          'border-bottom-right-radius': '15px',

          height: '100%',
          width: '100%',
          'background-color': '#E6DFE9',
          border: '2px solid #01CC67 '
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="photo">
      <ngx-skeleton-loader
        class="product"
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{
          'border-top-left-radius': '15px',
          'border-bottom-left-radius': '15px',
          height: '100%',
          width: '100%',
          'background-color': '#9c4dad',
          border: '2px solid #01CC67  '
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
  <div class="news">
    <div class="item">
      <ngx-skeleton-loader
        class="product"
        count="1"
        appearance="line"
        animation="progress"
        [theme]="{
          'border-top-right-radius': '15px',
          'border-bottom-right-radius': '15px',

          height: '100%',
          width: '100%',
          'background-color': '#E6DFE9',
          border: '2px solid #01CC67 '
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="photo">
      <ngx-skeleton-loader
        class="product"
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{
          'border-top-left-radius': '15px',
          'border-bottom-left-radius': '15px',
          height: '100%',
          width: '100%',
          'background-color': '#9c4dad',
          border: '2px solid #01CC67  '
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
  <ngx-skeleton-loader
    class="button"
    count="1"
    appearance="line"
    animation="pulse"
    [theme]="{
      'border-radius': '50px',
      height: '50px',
      width: '170px',
      'background-color': '#D3CED6',
      border: '2px solid #9C4DAD ',
      padding: '20px'
    }"
  ></ngx-skeleton-loader>
</div>
