.all {
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tulio {
  padding: 0%;
  margin: 0%;
  width: auto;
  height: auto;
}

.skeleton {

  padding: 0%;
  margin: 0%;
  position: relative;
  top: 10px;
}

@media (max-width: 400px) {
  .background {
    width: 400px;
    background-size: 400px;
  }

  .skeleton {
    width: 380px;
    background-size: 400px;
  }

  .tulio {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 550px) {
  .background {
    width: 550px;
  }

  .skeleton {
    width: 530px;
  }

  .tulio {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (min-width: 750px) {
  .background {
    width: 750px;
  }

  .skeleton {
    width: 734px;
  }

  .tulio {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (min-width: 900px) {
  .background {
    width: 900px;
  }

  .skeleton {
    width: 880px;
  }

  .tulio {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (min-width: 1000px) {
  .background {
    width: 1000px;
  }

  .skeleton {
    width: 980px;
  }

  .tulio {
    width: 450px;
    height: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  .background {
    width: 1200px;
  }

  .skeleton {
    width: 1180px;
  }

  .tulio {
    width: 480px;
    height: 480px;
  }
}

@media only screen and (min-width: 1440px) {
  .background {
    width: 1440px;
  }

  .skeleton {
    width: 1430px;
  }

  .tulio {
    width: 500px;
    height: 500px;
  }
}
@media only screen and (min-width: 1500px) {
  .background {
    width: auto;
  }

  .skeleton {
    width: auto;
  }

  .tulio {
    width: 500px;
    height: 500px;
  }
}