<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!--Desactiva la animación -->
<!-- < ngx-skeleton-loader  animation =" false " > </ ngx-skeleton-loader > -->
<!-- Deshabilita la animación, pero recibe un valor booleano del enlace -->
<!-- A través del enlace puede recibir `false ` (booleano), "falso" (cadena) o cualquier otro tipo de animación -->

<!-- Usa `progress` como animación -->
<!--<app-banner></app-banner> -->
<hr />
<p>Para el uso de banners:</p>
<app-banner></app-banner>
<hr />
<p>Para el uso de portadas:</p>
<app-front-page></app-front-page>
<hr />
<p>Para el uso del menu de navegación:</p>
<app-navbar></app-navbar>
<hr />
<p>Para el uso del footer:</p>
<app-footer></app-footer>
<hr />
<p>Noticias del blog principal:</p>
<app-news></app-news>
<hr />
<p>Login aplicación:</p>
<app-login></app-login>
<hr />
<p>Inicio de la aplicación:</p>
<app-start-market></app-start-market>
<hr />
<p>Busqueda en la plaza:</p>
<app-search-market></app-search-market>
<hr />
<p>Ver productos en la plaza:</p>
<app-see-products></app-see-products>
<hr />
<p>Ver fuentes de información en la plaza:</p>
<app-information-market></app-information-market>
<hr />
<a routerLink="/banner">Banners</a>
<!--
<router-outlet>
  <nav>
    <a routerLink="/banner">Banners</a>
    <br />
    <a routerLink="/front-page">Front page</a>
    <br />
    <a routerLink="/nav-bar">Nav bar</a>
    <br />
    <a routerLink="/footer">footer</a>
    <br />

    <a routerLink="/news">news</a>
    <br />
    <a routerLink="/login">login</a>
    <br />
    <a routerLink="/start-market">startmarket</a>
    <br />
    <a routerLink="/search-market">searchmarket</a>
    <br />
    <a routerLink="/see-products">see products</a>
    <br />
    <a routerLink="/information-market">Information market</a>

    <br />
  </nav>
</router-outlet>
 -->