<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<table>
  <td>
    <div id="main">
      <div class="header" style="background: #ffffff; padding: auto; border: 1px solid #c0bbbb">
        <ngx-skeleton-loader class="profile" count="1" width="100%" height="100%" appearance="circle"
          animation="progress-dark" [theme]="{
            'background-color': '#572F75',
            border: '1px solid #ffffff '
          }"></ngx-skeleton-loader>

        <img style="padding: 20px;" class="image" loading="lazy"
          src="https://storage.googleapis.com/front-agrodatai-dev/agrodatai/img/agrodatlogo.png" width="50%"
          height="50%" alt="" />
      </div>
      <div class="bottom">
        <div class="all">
          <div class="content" style="background: #c4bfc2; padding-left: 25px">
            <div class="items">
              <br />
              <h1>Seleccione para consultar</h1>
              <div class="products" style="width: 100%; height: 100%">
                <div class="item">
                  <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                      'border-radius': '15px',
                      height: '160px',
                      width: '50%',
                      'background-color': '#646263',
                      border: '1px solid #ffffff ',
                      padding: '20px'
                    }"></ngx-skeleton-loader>
                </div>
                <div class="item">
                  <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                      'border-radius': '15px',
                      height: '160px',
                      width: '50%',
                      'background-color': '#646263',
                      border: '1px solid #ffffff ',
                      padding: '20px'
                    }"></ngx-skeleton-loader>
                </div>
                <div class="item">
                  <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                      'border-radius': '15px',
                      height: '160px',
                      width: '50%',
                      'background-color': '#646263',
                      border: '1px solid #ffffff ',
                      padding: '20px'
                    }"></ngx-skeleton-loader>
                </div>
                <div class="item">
                  <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                      'border-radius': '15px',
                      height: '160px',
                      width: '50%',
                      'background-color': '#646263',
                      border: '1px solid #ffffff ',
                      padding: '20px'
                    }"></ngx-skeleton-loader>
                </div>
                <div class="item">
                  <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                      'border-radius': '15px',
                      height: '160px',
                      width: '50%',
                      'background-color': '#646263',
                      border: '1px solid #ffffff ',
                      padding: '20px'
                    }"></ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>

          <div class="point" style="background: #dfebe6; padding-left: 25px">
            <h1>Precios de referencia</h1>
            <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                'border-radius': '15px',
                height: '160px',
                width: '30%',
                'background-color': '#646263',
                border: '1px solid #ffffff ',
                padding: '20px'
              }"></ngx-skeleton-loader>
            <h1>Mejor punto de venta</h1>
            <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                'border-radius': '15px',
                height: '160px',
                width: '40%',
                'background-color': '#646263',
                border: '1px solid #ffffff ',
                padding: '20px'
              }"></ngx-skeleton-loader>
          </div>

          <div class="support" style="background: #e6dfe9; padding-left: 25px">
            <h1>Gestión de apoyo para solicitudes</h1>
            <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                'border-radius': '15px',
                height: '130px',
                width: '30%',
                'background-color': '#646263',
                border: '1px solid #ffffff ',
                padding: '20px'
              }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                'border-radius': '15px',
                height: '130px',
                width: '30%',
                'background-color': '#646263',
                border: '1px solid #ffffff ',
                padding: '20px'
              }"></ngx-skeleton-loader>
            <div class="news">
              <h1>Agronoticias</h1>
              <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                  'border-radius': '15px',
                  height: '270px',
                  width: '30%',
                  'background-color': '#646263',
                  border: '1px solid #ffffff ',
                  padding: '20px'
                }"></ngx-skeleton-loader>
              <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                  'border-radius': '15px',
                  height: '270px',
                  width: '30%',
                  'background-color': '#646263',
                  border: '1px solid #ffffff ',
                  padding: '20px'
                }"></ngx-skeleton-loader>
              <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                  'border-radius': '15px',
                  height: '270px',
                  width: '270px',
                  'background-color': '#646263',
                  border: '1px solid #ffffff ',
                  padding: '20px'
                }"></ngx-skeleton-loader>
              <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                  'border-radius': '15px',
                  height: '270px',
                  width: '270px',
                  'background-color': '#646263',
                  border: '1px solid #ffffff ',
                  padding: '20px'
                }"></ngx-skeleton-loader>
            </div>

            <h1>Indicadores económicos</h1>
            <div>
              <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                  'border-radius': '15px',
                  height: '170px',
                  width: '270px',
                  'background-color': '#646263',
                  border: '1px solid #ffffff ',
                  padding: '20px'
                }"></ngx-skeleton-loader>
              <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                  'border-radius': '15px',
                  height: '170px',
                  width: '270px',
                  'background-color': '#646263',
                  border: '1px solid #ffffff ',
                  padding: '20px'
                }"></ngx-skeleton-loader>
              <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{
                  'border-radius': '15px',
                  height: '170px',
                  width: '270px',
                  'background-color': '#646263',
                  border: '1px solid #ffffff ',
                  padding: '20px'
                }"></ngx-skeleton-loader>
            </div>
          </div>
        </div>
      </div>
    </div>
  </td>
  <td style="width: 10%">
    <div id="list">
      <div class="notification" style="width: 100%; height: 100%">
        <ngx-skeleton-loader class="element" count="1" animation="pulse" [theme]="{
            height: '40px',
            width: '100%',
            'background-color': '#572F75',
            border: '1px solid #572F75 '
          }">
        </ngx-skeleton-loader>
      </div>
      <div class="service">
        <ngx-skeleton-loader class="services" count="3" animation="pulse" [theme]="{
            height: 'autopx',
            width: 'autopx',
            'background-color': '#572F75',
            border: '1px solid #572F75 '
          }">
        </ngx-skeleton-loader>
      </div>
    </div>
  </td>
</table>